body {
  background: url(http://genchi.info/images/abstract-wallpaper-android-27.jpg);
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
}

button {
  background: rgb(23, 216, 23);
  border: 10px solid rgb(23, 216, 23);
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
