body {
  background: linear-gradient(45deg, rgb(0, 68, 255), rgb(0, 217, 255));
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: Merriweather;
  margin-top: 400px;
  font-size: 100px;
  color: white;
}

* {
  text-align: center;
}
button {
  font-size: 25px;
  padding: 10px 15px;
  background: black;
  color: white;
  border: 2px solid black;
  border-radius: 50px;
  transition: 0.4s;
}

button:active {
  background: gray;
}

button:hover {
  padding: 10px 50px;
}
